## ðŸ“¦ Step 0 â€“ Load the Data

I'm starting by loading the resumes dataset using pandas. It includes columns like name, job title, experience, skills, and education.

In [9]:
# Import pandas to work with data
import pandas as pd

# Load my dataset
df = pd.read_csv("data/resumes.csv")  # path matches my project folder structure

# Peek at the first few rows
df.head()

,name,job_title,experience_years,skills,education
0,Ali Khan,Data Scientist,2,Python; Pandas; Machine Learning; SQL,BS Computer Science
1,Sara Malik,ML Engineer,3,Python; TensorFlow; Keras; Deep Learning,MS AI
2,Ahmed Raza,Data Analyst,1,Excel; SQL; Data Visualization,BS Statistics
3,Zoya Tariq,Software Engineer,4,Java; Spring Boot; Microservices,BS Software Engineering
4,Hassan Noor,NLP Researcher,2,NLP; Transformers; HuggingFace; PyTorch,MS Data Science